<nav>
    <div class="nav-content" id="logo"></div>
    <div class="nav-content" onclick="window.location.href='/'"><p class="nav-text">Home</p> </div>
    <div class="nav-content" onclick="window.location.href='/tasks/active'"><p class="nav-text">Active Tasks</p></div>
    <div class="nav-content" onclick="window.location.href='/tasks/previous'"><p class="nav-text">Previous Tasks</p></div>
</nav>