body{
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    background-color: #151515;
    color: gainsboro;    
    background: linear-gradient(
        to right,  #53d9d1,#f27b9b,#eb7132
    );
    background-size: 400%,400%;
    animation: body 50s infinite ease-in-out;
}

@keyframes body {
    0%{
        background-position: 0 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0 50%;
    }
}
/*nav styles*/
nav{
    display: flex;
    flex-direction: row;
    border: 2px solid gainsboro;
    border-radius: 5px;
    justify-content: flex-end;
}

.nav-content{
 width: 20%;
 cursor: pointer;
 text-align: center;
 box-shadow: inset ;
 border:1px solid gainsboro;
}

.nav-content:hover{
    box-shadow: 1px 1px 5px 0px rgba(255, 255, 255,0.5);
}

#logo{
    flex-grow: 3; 
    border-radius: 5px 0px 0px 5px;
}


/*dashboard styles*/
h1{
    text-decoration: underline;
}

.action{
    border: 1px solid gainsboro;
    width: 50%;
    text-align: center;
    cursor: pointer;
    margin-bottom: 10px;
    border-radius: 5px;
}

#add-tasks, #active-tasks,#previous-tasks{
    transition: background 500ms ease-in;
}

#add-tasks:hover{
    background: #53d9d1;
    color: #151515;
    box-shadow: 1px 1px 5px 0px rgba(83, 217, 209,0.5);
}

#active-tasks:hover{
    background:#eb7132;
    color: #151515;
    box-shadow: 1px 1px 5px 0px rgba(235, 113, 50,0.5);
}

#previous-tasks:hover{
    background: #f27b9b;
    color: #151515;
    box-shadow: 1px 1px 5px 0px rgba(242, 123, 155,0.5);
}

/*create/add task styles*/

main {
    padding: 10px 10vw;
}

 form{
    display: flex;
    flex-direction: column;
}

label{
    margin-top: 10px;
}

#submit-form-btn{
    margin-top: 10px;
    align-self: center;
    color: #151515;
    background-color: #53d9d1;
    box-shadow: 1px 1px 5px 0px rgba(83, 217, 209,0.5);
    border: 0px solid #151515 ;
    cursor: pointer;
    height: 50px;
    border-radius: 5px;
    width: 20%;
    text-align: center;
    padding: 15px;
}

#submit-form-btn:hover{
    color: gainsboro;
}

#description, #title{
    padding: 5px;
    border: 0px solid white;
    color: #151515;
    box-shadow: 1px 1px 5px 5px rgba(83, 217, 209,0.5);
}

/*active task styles*/

#all-tasks{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.single-a,.single-p{
    border: 2px solid;
    border-radius: 5px;
    width: 50%;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 1px 5px 0px rgba(235, 113, 50,0.5);
    margin-bottom: 50px;
}

#add-tasks-btn-a,#edit-task-btn-1a,#delete-task-btn-1a,
#active-tasks-btn-p,#edit-task-btn-1p,#delete-task-btn-1p
{
    margin-top: 10px;
    align-self: center;
    color:rgb(224, 224, 224);
    background-color: #eb7132;
    box-shadow: 1px 1px 5px 0px rgba(235, 113, 50,0.5);
    border: 0px solid #151515 ;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
    width: 25%;
}

#add-tasks-btn-a,#active-tasks-btn-p{
    margin-top: 30px;
}


/*previous task styles*/
.single-p{
    box-shadow: 1px 1px 5px 0px rgba(242, 123, 155,0.5);
}

#active-tasks-btn-p,#edit-task-btn-1p,#delete-task-btn-1p
{
    background-color:#f27b9b;
    box-shadow: 1px 1px 5px 0px rgba(242, 123, 155,0.5);
}


.details-content{
    margin-top: 25px;
    padding: 10px;
    box-shadow: 1px 1px 5px 0px rgba(255, 255, 255,0.5);
}

.edit,.delete{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    background-color: gainsboro;
    color: black;
    margin: 2px;
    padding: 1px;
    width: 25%;
    border-radius: 5px;
   justify-content: center;
   align-self: center;
}
